@font-face {
    font-family: 'MiLetraNavidad';
    src: url('titulo.ttf')  format('truetype');
}

h1{
    font-family: 'MiLetraNavidad', sans-serif;
    text-align: center;
    font-size: 5em;
    color:white;
}

body{
    background-color: red;
}

#tarjeta {
    border-radius: 20px;
    /*background-color: white;*/
    height: 300px;
    width: 50%;
    margin: auto;
    /*background-image: url('img/.gif');*/
}