@font-face {
    font-family: 'LetraNavidad';
    src: url('../recursos/letranavidad.ttf')  format('truetype');
}

body{
    margin: 0;
}
header{
    margin: 0;
    height: 100vh;
    background-color: red;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;

    font-family: 'LetraNavidad', sans-serif;
    text-align: center;
    font-size: 5em;
    color:white;
}

header img{
    height: 95vh;

}

nav{
    height: 10vh;
    width: 88%;
    background-color: lime;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
}
article{
    min-height: 400px;
    width: 94%;
    background-color: gold;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}
footer{
    height: 200px;
    width: 100%;
    background-color: green;
    margin: auto;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    position: fixed;
    bottom: 0;
    z-index: -2;
}

article iframe{
    width: 60%;
    height: 450px;
    z-index: 10;
    background-color: rgb(255, 0, 255);
    margin: auto;
    border-radius: 20px;
}


article div .caja{
    margin-bottom: 260px;
    width: 40%;
    height: 450px;
    background-color: wheat;
    border-radius: 20px;
    margin: auto;
    margin-top: 60px;
}
article #cajas{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex:15%;
    margin: 0px 30px;
}

#absolutoIzq{
    position: absolute;
    top: 20px;
    left: 20px;
    height: 200px;
}

#absolutoDer{
    position: absolute;
    top: 20px;
    right: 20px;
    height: 200px;

}
